.form {
  width: 390px;
  border-style: none;
  padding: 20px;
  background-color: white;
  box-shadow: 0 10px 20px -5px #0003, 0 0px 4px 0px #0002;
  border-radius: 4px;
}

.formLabel {
  display: block;
  margin-bottom: 10px;
  line-height: 1.5;
}

.formInput {
  width: 100%;
  padding: 5px;
  box-shadow: inset 0px 2px 4px 0px #2203, inset 0px 1px 1px 0px #2204;
  background-color: #ff41;
  border-radius: 3px;
  border: none;
  outline: none;
}

.formInput:focus {
  background-color: #ff43;
  box-shadow: inset 0px 2px 4px 0px #2203, inset 0px 1px 1px 0px #2204;
}

.formButton {
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  flex-basis: 60%;

  margin-top: 20px;

  background: linear-gradient(
    90deg,
    hsl(160, 70%, 75%),
    hsl(160, 70%, 80%),
    hsl(160, 70%, 80%),
    hsl(160, 70%, 75%)
  );
  border-style: none;

  box-shadow: 0 5px 8px -2px #0005, 0 0 1px 0 #0004;
  border-radius: 4px;

  color: #333;
  fill: #555;
}

.formButton[type='submit'] {
  margin-right: 10px;
  flex-basis: 40%;
}

.formButton svg {
  margin-right: 5px;
}

.formButton:hover,
.formButton:focus {
  background: hsl(160, 70%, 75%);
}

.formButton:active {
  transform: scale(0.99);
  box-shadow: 0 4px 7px -2px #0005, 0 0 1px 0 #0004;
}

.buttonGroup {
  display: flex;
}
