.transactionHistory {
  width: 870px;
  text-align: center;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 2px 3px 0px #0003;
  border-collapse: collapse;
}

tr {
  line-height: 50px;
  color: #777;
}

td:not(:last-child) {
  border-right: thin solid #e4e4e4;
  width: calc(100% / 3);
}

th:not(:last-child) {
  border-right: thin solid #e4e4e4;
}

th {
  background-color: #00bcd5;
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  letter-spacing: 0.1em;
}

tr td:nth-child(1) {
  text-transform: capitalize;
  text-align: left;
  padding-left: calc(100% / 3 * 0.4);
}

tr th:nth-child(1) {
  text-align: left;
  padding-left: calc(100% / 3 * 0.4);
}

tr td:nth-child(2) {
  text-transform: capitalize;
  text-align: right;
  padding-right: calc(100% / 3 * 0.42);
}

tr td:nth-child(3) {
  text-transform: uppercase;
  text-align: left;
  padding-left: calc(100% / 3 * 0.45);
}

tr:nth-child(even) {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: #ecf1f4;
}
