/* bring in normalize.css styles */
@import-normalize;

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, sans-serif;
  margin: 0;
  padding: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: linear-gradient(135deg, #eee 25%, transparent 25%),
    linear-gradient(225deg, #eee 25%, transparent 25%),
    linear-gradient(45deg, #eee 25%, transparent 25%),
    linear-gradient(315deg, #eee 25%, #eeea 25%);
  background-position: 30px 0, 30px 0, 0 0, 0 0;
  background-size: 60px 60px;
  background-repeat: repeat;

  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  font-family: inherit;
}

h1,
h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:hover {
  cursor: pointer;
}

.contacts__list {
  position: relative;
}

ul {
  padding-left: 30px;
}
